<h1><%= @event.event_name %></h1>

Creator of Event: <%= @event.creator.name %>
<br>
<br>
<% if @event.attendees.any? %>
  <% @all_attendees.each do |a| %>
    <%= a.name %>
    <br>
  <% end %>
<% else %>
  You do not have any attendees :(
<% end %>
